DJANGO_SECRET_KEY=replace-with-a-secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=task
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-password
POSTGRES_HOST=103.89.45.75
POSTGRES_PORT=5432
